<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wall">

    <xacro:arg name="robot_model_name" default="diff_drive" />

    <xacro:property name="wall_name" value="wall" />
    <xacro:property name="link_name" value="box" />
    <xacro:property name="visual_size" value="0.5 10.0 2.0" />
    <xacro:property name="color" value="1.0 1.0 0.0 1" />
    <xacro:property name="color_name" value="yellow" />
    <xacro:property name="mass" value="1.14395" />
    <xacro:property name="ixx" value="9.532917" />
    <xacro:property name="iyy" value="0.023832" />
    <xacro:property name="izz" value="9.556749" />

    <!-- <xacro:macro name="touch_plugin" params="target">
        <plugin filename="gz-sim-touchplugin-system"
            name="gz::sim::systems::TouchPlugin">
            <target>${target}</target>
            <namespace>wall</namespace>
            <time>0.0001</time>
            <enabled>true</enabled>
        </plugin>

        <plugin filename="gz-sim-triggered-publisher-system"
            name="gz::sim::systems::TriggeredPublisher">
            <input type="gz.msgs.Boolean" topic="/wall/touched">
                <match>data: true</match>
            </input>
            <output type="gz.msgs.Twist" topic="/model/${target}/cmd_vel">
                linear: {x: 0.0}, angular: {z: 0.0}
            </output>
        </plugin>
    </xacro:macro> -->

    <link name="${link_name}">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="${ixx}" ixy="0" ixz="0" iyy="${iyy}" iyz="0" izz="${izz}" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${visual_size}" />
            </geometry>
            <material name="${color_name}">
                <color rgba="${color}" />
            </material>
        </visual>
        <collision name="wall_collision">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${visual_size}" />
            </geometry>
        </collision>
    </link>

    <!-- <gazebo reference="${link_name}">
        <sensor name='sensor_contact' type='contact'>
            <contact>
                <collision>wall_collision</collision>
            </contact>
        </sensor>
    </gazebo> -->

    <gazebo>
        <static>true</static>
        <!-- Touch plugin -->
        <!-- <xacro:touch_plugin target="$(arg robot_model_name)" /> -->
    </gazebo>

</robot>